/* ######################### partners page ################################################## */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
}

.nav-bar {
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 15px 0;
  width: 100%;
  z-index: 9999;
}
#nav-tabs ul li a {
  color: #000;
  text-decoration: none;
  list-style: none;
  padding: 0 15px;
  font-size: 16px;
  font-weight: 800;
  line-height: 1.5;
  margin: 15px;
}

#nav-tabs ul li a:hover {
  color: rgb(148, 148, 227);
}

#nav-tabs ul li {
  display: inline-block;
  margin: 0 0 0 15px;
  position: relative;
}

#nav-tabs ul {
  display: flex;
  justify-content: right;
  margin-right: 8vh;
  margin-top: 0;
  align-items: center;
  list-style: none;
  position: relative;
  top: -25px;
}

#logo {
  margin-left: 8vh;
  margin-top: 10px;
  position: relative;
  top: 0;
  left: 0;
}

.footer {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

.footer-text {
  font-size: 1.2rem;
  color: #555;
}

.footer-text h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

#creator-link {
  color: #555;
  text-decoration: none;
  font-weight: bold;
}

/* #apologies {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 200px auto 30px auto;
  width: 100%;
  height: 100px;
} */

#partner-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 68vh;
  background-image: url("https://images2.alphacoders.com/132/1323443.jpg");
  background-size: cover;
}

#partner-hero-text {
  background-color: rgba(112, 215, 255, 0.4);
  backdrop-filter: blur(1px);
  opacity: 1;
  border-radius: 10px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

#partner-hero-text h1 {
  color: #000000;
  font-size: 4rem;
  font-weight: 800;
  width: 49%;
  text-align: center;
}

#our-goals-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

#our-goals-card-text {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 30px 30px;
}

#our-goals-card-text h1 {
  font-size: 2rem;
  font-weight: 800;
  color: #74b6ca;
  margin: 10px 10px;
}

#our-goals-card-text p {
  font-size: 20px;
  margin-bottom: 100px;
}

#our-goals-card h2 {
  margin-top: 100px;
}

#our-services {
  background-color: rgb(155, 194, 210);
  display: flex;
  justify-content: center;
  height: 65vh;
  flex-direction: column;
  align-items: center;
}

#our-services h1 {
  margin-bottom: 50px;
}

#our-services-cards {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
}

.our-services-card {
  margin: 50px;
  border: white 10px solid;
  border-radius: 10px;
  width: 300px;
  height: 300px;
  padding: 20px;
  text-align: center;
}

#our-services-2 {
  background-color: rgb(155, 194, 210);
  display: flex;
  justify-content: center;
  height: 45vh;
  flex-direction: column;
  align-items: center;
}

#our-services-cards-2 {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
}

#partner-list-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70vh;
}

#partner-list-btn {
  background-color: rgb(155, 194, 210); 
  border: none;
  border-radius: 10px;
  height: 50px;
  width: 200px;
  font-size: 20px;
  transition: ease-in-out 0.3s;
}

#partner-list-btn a {
  text-decoration: none;
  color: #ffffff;
}

#partner-list-btn:hover {
  background-color: rgb(0, 0, 0, 0.5);
  transition: ease-in-out 0.3s;
}